.bedhead {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.sadpuppy {
  float: left;
  padding-right: 20px;
}

.wikipedia {
  float: right;
  padding-left: 20px;
}
.quote {
  font-style: italic;
}
.selfie {
  float: left;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
