.twomain p {
  font-style: italic;
  font-weight: bolder;
}
.twomain li {
  font-style: italic;
}
.bedhead {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.sadpuppy {
  float: left;
  padding-right: 20px;
}

.wikipedia {
  float: right;
  padding-left: 20px;
}
.quote {
  font-style: italic;
}
.selfie {
  float: left;
  margin: 15px;
  border: 2px solid lightgray;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
}
